<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PPMTXHZ');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="./css/chat.css">
    <link rel="shortcut icon" href="https://img.icons8.com/doodle/48/null/filled-topic.png" type="image/x-icon">
    <title>Sala de chat</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PPMTXHZ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <main>
        <section>
            <h1>Sala de chat</h1>

            <div class="contenedor-chat">
                <div id="logsPanel">
                    <p class='chatPlaceholder'>Aquí se anotará el historial de chats</p>
                </div>
                
                <form id="form-chat">
                    <input type="file" name="image" id="inputFile" accept="image/*">
                    <div>
                        <input type="text" name="mensaje" placeholder="Escribe tu mensaje..." autocomplete="off">
                        <button type="submit">
                            <img src="https://img.icons8.com/color/48/null/filled-sent.png"/>
                        </button>
                    </div>
                </form>
            </div>
        </section>
        <p id="creditos">Desarrollado por <a href="https://www.linkedin.com/in/alejandro-portaluppi/" target="_blank" rel="noopener noreferrer">Alejandro P</a></p>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="./js/chat.js"></script>
</body>
</html>
