* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: 16px;
}

main {
    padding: 10px;
}

.noTerminado {
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 0.75rem;
    position: fixed;
    left: 1vw;
    top: 1vh;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

.contenedor-chat {
    margin-top: 5px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(100, 100, 255);
}

.contenedor-chat #logsPanel {
    padding: 5px;
    height: 66vh;
    background-color: rgb(255, 255, 255);
    font-size: 1.1rem;
    overflow-y: auto;
}

.chatPlaceholder {
    color: rgb(100, 100, 100);
}

.contenedor-chat input {
    padding: 5px;
    margin-top: 12px;
    font-size: 1.1rem;
    background-color: rgb(255, 255, 255);
}

#creditos {
    position: fixed;
    right: 2vw;
    bottom: 1vh;
    transition: all 0.5s;
}

#creditos:hover {
    transform: scale(1.1);
    font-weight: bold;
    transform: translate(0px, 0px);
}

#creditos a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.contenedor-cuerpoMensaje {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.cuerpoMensaje {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 7px;
    background-color: rgb(200, 200, 255);
    width: 75%;
}

@media screen and (max-width: 600px) {
    .cuerpoMensaje {
        width: 85%;
    }
}

.cuerpoMensaje div {
    display: flex;
    justify-content: space-between;
}

.pMensaje {
    margin-right: 5px;
}

.fecha-inicial {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}

.fecha {
    margin: 20px 0px 10px 0px;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}

.userSpan {
    font-weight: bold;
}

.flex-end {
    justify-content: flex-end;
}
