* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: 16px;
}

main {
    padding: 10px;
    margin: 0px auto;
    max-width: 1200px;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

.contenedor-chat {
    margin-top: 5px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(100, 100, 255);
}

.contenedor-chat #logsPanel {
    padding: 5px;
    height: 66vh;
    background-color: rgb(255, 255, 255);
    font-size: 1.1rem;
    overflow-y: auto;
}

.chatPlaceholder {
    color: rgb(100, 100, 100);
}

.contenedor-chat > input {
    margin: 10px 0px 5px 0px;
}

#form-chat {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

#form-chat > input {
    margin: 10px 0px 5px 0px;
}

#form-chat div {
    display: flex;
    justify-content: space-between;
}

#form-chat div input {
    font-size: 1.1rem;
    background-color: rgb(255, 255, 255);
    flex: 1
}

#form-chat div button {
    width: 40px;
    height: 40px
}

#form-chat div button img {
    width: 100%;
    height: 100%;
}

#creditos {
    position: fixed;
    right: 2vw;
    bottom: 1vh;
    transition: all 0.5s;
}

#creditos:hover {
    transform: scale(1.1);
}

#creditos a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.contenedor-cuerpoMensaje {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.cuerpoMensaje {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 7px;
    background-color: rgb(200, 200, 255);
    width: 75%;
}

.mensajeIndividual {
    display: flex;
    justify-content: space-between;
}

.divMensajeImagen {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.pMensaje {
    text-align: start;
    margin-right: 5px;
    overflow-wrap: break-word;
}

.divMensajeImagen img {
    margin: 5px auto 0px auto;
    width: 75%;
    max-height: 400px;
    font-size: 0.6rem;
}

.mensajeIndividual div {
    display: flex;
    justify-content: space-between;
    word-break: break-all;
}

.pHora {
    font-size: 0.75rem;
    white-space: nowrap;
}

.pBasura {
    height: 1.3rem;
    margin-left: 5px;
    font-size: 0.75rem;
    white-space: nowrap;
    cursor: pointer;
}

.fecha {
    margin-top: 7px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
}

.userSpan {
    font-weight: bold;
}

.flex-end {
    justify-content: flex-end;
}

@media screen and (max-width: 600px) {
    .cuerpoMensaje {
        width: 90%;
    }
}
